
<mat-table mat-elevation-z8 class="mat-elevation-z8" style="width: 90%;" [dataSource]="dataSource">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let element">{{element.isbn?element.isbn[0]:"No ISBN"}}</td>
    </ng-container>
  
    <ng-container matColumnDef="author_name">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.author_name?element.author_name:"No Author"}} </td>
    </ng-container>
  
    <ng-container matColumnDef="first_publish_year">
      <th mat-header-cell *matHeaderCellDef> First Publication Year </th>
      <td mat-cell *matCellDef="let element"> {{element.first_publish_year?element.first_publish_year:"No Publication Year"}} </td>
    </ng-container> 
    
    <ng-container matColumnDef="cover_i">
      <th mat-header-cell *matHeaderCellDef> Cover </th>
      <td mat-cell *matCellDef="let element"> 
          <img src="{{getCover(element.cover_i, true)}}" alt="{{element.title}}" 
          width="36" height="50" (click)="openDialog(element.cover_i)"> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>

<mat-paginator *ngIf="books"
[length]="this.books.length"
[pageSize]="50"
[pageSizeOptions]="pageSizeOptions"
aria-label="Select page">
</mat-paginator>