<div style="text-align: center; margin-top: 2%; margin-bottom: 2%;">
    <h1 style="font-size: xx-large;">Book Browser</h1>
    <mat-label style="margin-right: 10px;">Book Title</mat-label>
    <input style="margin-right: 10px;" [(ngModel)]="titleSearch"
    type="text" (keydown.enter)="showBooks(titleSearch)">
    <button style="margin-right: 10px;" (click)="showBooks(titleSearch)">
        Search
    </button>
    <section>
        <label>Viewstyle:</label>
        <mat-radio-group [(ngModel)]="viewStyle" color="primary">
          <mat-radio-button value="grid">
            Grid
          </mat-radio-button>
          <mat-radio-button value="list">
            List
          </mat-radio-button>
        </mat-radio-group>
        </section>
</div>

<app-grid-view *ngIf="viewStyle=='grid'" [books]="books"></app-grid-view>
<app-list-view *ngIf="viewStyle=='list'" [books]="books" [dataSource]="dataSource"></app-list-view>